<footer class="footer bg-dark text-white py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <h5 class="mb-3">SeekCasino</h5>
        <p>Güvenilir casino rehberiniz. En iyi online casino deneyimi için doğru yer.</p>
        <div class="social-links">
          <a href="#" class="me-2 text-white"><i class="bi bi-facebook"></i></a>
          <a href="#" class="me-2 text-white"><i class="bi bi-twitter"></i></a>
          <a href="#" class="me-2 text-white"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <h6 class="mb-3">Casinolar</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">En İyi Casinolar</a></li>
          <li><a href="#" class="text-white">Yeni Casinolar</a></li>
          <li><a href="#" class="text-white">Bedava Bonus Veren Casinolar</a></li>
          <li><a href="#" class="text-white">Türkçe Casinolar</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <h6 class="mb-3">Oyunlar</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Slot Oyunları</a></li>
          <li><a href="#" class="text-white">Masa Oyunları</a></li>
          <li><a href="#" class="text-white">Jackpot Oyunları</a></li>
          <li><a href="#" class="text-white">Canlı Casino</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <h6 class="mb-3">Bonuslar</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Hoşgeldin Bonusları</a></li>
          <li><a href="#" class="text-white">Bedava Dönüşler</a></li>
          <li><a href="#" class="text-white">Yatırımsız Bonuslar</a></li>
          <li><a href="#" class="text-white">VIP Bonuslar</a></li>
        </ul>
      </div>
      
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <h6 class="mb-3">Yardım</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Hakkımızda</a></li>
          <li><a href="#" class="text-white">SSS</a></li>
          <li><a href="#" class="text-white">İletişim</a></li>
          <li><a href="#" class="text-white">Sorumlu Oyun</a></li>
        </ul>
      </div>
    </div>
    
    <hr class="my-4">
    
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <p class="mb-0">&copy; {{ currentYear }} SeekCasino. Tüm hakları saklıdır.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="text-white me-3">Kullanım Koşulları</a>
        <a href="#" class="text-white me-3">Gizlilik Politikası</a>
        <a href="#" class="text-white">Çerezler</a>
      </div>
    </div>
    
    <div class="mt-4 text-center">
      <p class="small text-muted">
        Yalnızca 18 yaş üzeri içindir. Oynamadan önce lütfen yerel yasa ve düzenlemeleri kontrol ediniz. 
        Kumar bağımlılık yaratabilir, lütfen sorumlu oyun oynayınız.
      </p>
    </div>
  </div>
</footer>
